.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  gap: 48px;

  @media (min-width: 640px) {
    flex-direction: row;
  }

  & > section {
    flex: 1;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 24px;
    position: relative;
  }
}
