.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px 32px;
  list-style: none;
  padding: 0;

  @media (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
  }
}

.skillName {
  font-weight: 500;
}
