@import "../../../../assets/styles/config.css";

.root {
  margin-left: 50px;
  text-align: center;

  h1 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin-bottom: 7px;
    padding-bottom: 5px;
  }

  .techs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
