{
  "presets": [
    [
      "latest", {
        "es2015": {
          "modules": false
        }
      }
    ],
    "react"
  ],
  "plugins": [
    ["babel-root-slash-import", { "rootPathSuffix": "src" }],
    "react-hot-loader/babel"
  ]
}
