.root {
  width: 380px;

  .tags {
    position: relative;
    padding: 0 10px;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease;
    border-radius: 6px;
    border: none;

    &.open {
      height: 100px;
      border: 1px solid #91a6a6;
    }
  }

  .selectedTags {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #91a6a6;
    border-radius: 6px;
  }
}
