@import "../../../../assets/styles/config.css";

.root {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  height: 18px;

  a {
    color: var(--jn-black);
    text-decoration: none;
    margin: 0 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    padding: 10px 0;

    &::after {
      background: var(--jn-black);
      position: absolute;
      top: 100%;
      left: 0;
      content: '';
      width: 100%;
      height: 1px;
      opacity: 0;
      transition: opacity 0.3s, transform 0.3s;
      transform: translateY(-10px);
    }
  }

  a:hover,
  a:focus {
    color: var(--jn-black) !important;
    text-decoration: none !important;
  }

  a:hover::after {
    opacity: 1;
    transform: translateY(0);
  }

  a.active::after {
    opacity: 1;
    transform: translateY(0);
  }
}
