.wrapper {
  position: relative;
  margin: 96px auto 0;
  padding: 8px 0;

  &::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    width: 50px;
    height: 3px;
    background: var(--colors-primary500);
  }
}

.title {
  color: var(--colors-neutral200);
  font-weight: 600;
}

.link {
  color: var(--colors-neutral400);
  transition: color 0.2s ease;
  text-decoration: none;
  font-weight: 600;
  margin-left: 8px;

  &:hover {
    color: var(--colors-primary400);
  }
}

.contacts {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  flex-direction: column;

  @media (min-width: 640px) {
    align-items: center;
    flex-direction: row;
  }
}

.socialLinks {
  margin-left: 0;
  margin-top: 8px;

  @media (min-width: 640px) {
    margin-left: auto;
    margin-top: 0;
  }
}
