@import "../../../assets/styles/config.css";

.root {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  z-index: 100;
  margin-bottom: 8px;

  .bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    border: 1px solid black;
    margin: 0 5px;
    background: none;
    transition: background 200ms ease;

    &.active {
      background: var(--jn-black);
    }

    &:hover {
      cursor: pointer;
    }
  }
}
