.wrapper {
  display: flex;
  align-items: center;

  svg {
    transition: all 0.2s ease;
  }

  &:hover {
    svg:last-of-type {
      transform: translateX(3px);
    }
  }
}

.text {
  margin-left: 4px;
  font-weight: 500;
  font-size: var(--font-sz-sm);
}
