@import "../../../../assets/styles/config.css";

.root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;

  .textContainer {
    width: 100%;
    margin-bottom: 40px;

    .text {
      width: 500px;
      margin-left: 50px;

      h1 {
        color: color(var(--jn-black) tint(30%));
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-size: 36px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      p {
        text-align: justify;
        text-justify: inter-word;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        font-size: 14px;
      }

      .btnContainer {
        text-align: right;
        margin-top: 20px;
      }
    }
  }
}

@media (--medium-screen) {
  .root {
    .textContainer {
      .text {
        width: 500px;
        margin-left: 0;
      }
    }
  }
}

@media (--mobile-screen) {
  .root {
    .textContainer {
      .text {
        width: auto;
        margin-left: 0;
        padding: 0 20px;
        text-align: center;

        p {
          display: none;
        }

        .btnContainer {
          text-align: center;
        }
      }
    }
  }
}
