.root {
  display: grid;
  height: 100vh;
  grid-template-rows: 75px 1fr 125px;

  .header {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: 1;
    padding: 0 50px;

    .container {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
    }
  }

  .body {
    background-image: url('../patterns/react.png');
  }

  .footer {
    display: flex;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 0 50px;

    .container {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}
