@import "../../../assets/styles/config.css";

.root {
  position: relative;
  flex: 1;

  .carouselContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: grab;
  }

  .langMenu {
    position: absolute;
    top: 20px;
    z-index: 1;
    width: 100%;
  }
}
