.introduction {
  max-width: 500px;
  margin: 16px 0;
  color: var(--colors-neutral300);
}

.link {
  font-size: 14px;
  color: var(--colors-neutral200);
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}
