.root {
  min-height: calc(100vh - 150px);

  .content {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: row;

    .main {
      flex: 1;
      padding-right: 50px;
    }
  }
}
