:root {
  /* --xlText: 3em;
  --lText: 2em;
  --mText: 1.5em;
  --sText: 1.15em;
  --xsText: 1em; */
  --jn-white: #fff;
  --jn-black: #000;
  --jn-blue: #52b3dd;

  /* --jn-text: #2e2e4c;
  --jn-canvas: #f7faff;
  --jn-yellow: #faeb19;
  --jn-green: #13bf38;
  --jn-red: #f24130;
  --jn-orange: #ffd70d;
  --jn-purple: #5e75c3;
  --jn-warning: #ffd70d; */
  --jn-radius: 4px;

  @custom-media --large-screen (max-width: 1300px);
  @custom-media --medium-screen (max-width: 992px);
  @custom-media --small-screen (max-width: 800px);
  @custom-media --mobile-screen (max-width: 600px);
}
