@import "./config.css";

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('Open Sans'),
    local('OpenSans'),
    url('../fonts/open-sans-v13-latin-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v13-latin-regular.woff') format('woff');
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src:
    local('Open Sans Bold'),
    local('OpenSans-Bold'),
    url('../fonts/open-sans-v13-latin-700.woff2') format('woff2'),
    url('../fonts/open-sans-v13-latin-700.woff') format('woff');
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src:
    local('Montserrat Regular'),
    local('Montserrat-Regular'),
    url('../fonts/montserrat-v10-latin-regular.woff2') format('woff2'),
    url('../fonts/montserrat-v10-latin-regular.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

a {
  color: var(--jn-blue);

  &:hover {
    color: var(--jn-blue);
  }

  &:focus {
    outline: none;
  }
}

:global(.container) {
  max-width: 1200px;
  margin: 0 auto;
}

@media (--large-screen) {
  :global(.container) {
    max-width: none;
    padding: 0 50px;
  }
}

@media (--mobile-screen) {
  :global(.container) {
    padding: 0 20px;
  }
}

/*******************************************************************************
** React Slick
*******************************************************************************/

/* https://github.com/akiran/react-slick/issues/27 (Growl answer) */

:global(.slick-slider) {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

:global(.slick-slide) {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100vw !important;
}

:global(.slick-track),
:global(.slick-list) {
  height: 100% !important;
}

:global(.slick-dots) {
  bottom: 5px;
}

:global(.slick-dots) li button::before {
  font-size: 12px;
}
