.title {
  color: var(--colors-neutral100);
  font-size: 16px;
  margin-bottom: 16px;

  span {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--colors-primary500);
  }
}

.subtitle {
  color: var(--colors-neutral100);
  font-size: 32px;
  margin-bottom: 24px;

  span {
    color: var(--colors-primary500);
  }
}

.introduction {
  max-width: 500px;
  margin-bottom: 16px;
  color: var(--colors-neutral300);
}

.link {
  font-size: 14px;
  color: var(--colors-neutral200);
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.sections {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  gap: 48px;

  @media (min-width: 640px) {
    flex-direction: row;
  }

  & > section {
    flex: 1;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 24px;
    position: relative;
  }
}

.listDescription {
  font-size: 14px;
  color: var(--colors-neutral200);
  max-width: 300px;
  margin-bottom: 24px;
}
