@import "../../../assets/styles/config.css";

.root {
  z-index: 1000;
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .logos {
    display: flex;
  }
}

@media (--small-screen) {
  .root {
    .logos {
      display: none;
    }
  }
}
