.wrapper {
  position: relative;
  margin-bottom: 24px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--colors-primary500);
    left: -24px;
    top: 8px;
  }

  img {
    margin: 4px 0;
  }
}

.link {
  color: var(--colors-neutral100);
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 4px;

  svg {
    margin-left: 4px;
    transition: all 0.2s ease;
  }

  &:hover {
    svg {
      transform: translateX(5px);
    }
  }
}

.helpText {
  color: var(--colors-primary300);
  font-size: 14px;
  margin-bottom: 4px;
}

.auxText {
  color: var(--colors-neutral300);
  font-size: 14px;
}

.children {
  margin: 8px 0;
}
